*, ::after, ::before {
    box-sizing: border-box;
}
.container {
    font-size: 12px;
    float: left;
}
.post {
    width: 300px;
    height: auto;
    display: block;
    padding: 5px 10px;
    margin: 10px;
    border: solid 2px #e6ecf0;
    border-radius: 3px;
}

.post-blue {
    border: solid 2px #39f;
}

.author,
.date {
    width: 50%;
    padding: 5px 0;
    display: inline-block;
}

.date {
    text-align: right;
}